<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPL_PREDICTOR</title>
</head>
<body>
    <form method="post" action="/Winning_Probability" class="Search">
        <label for="batting_teams">Batting_team : </label>
        <select name = "batting_teams"  id = "batting_teams">
            <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
            <option value="Mumbai Indians">Mumbai Indians</option>
            <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
            <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
            <option value="Kings XI Punjab">Kings XI Punjab</option>
            <option value="Chennai Super Kings">Chennai Super Kings</option>
            <option value="Rajasthan Royals">Rajasthan Royals</option>
            <option value="Delhi Capitals">Delhi Capitals</option>
        </select>
        <label for="bowling_teams">Bowling_team : </label>
        <select name= "bowling_teams" id ="bowling_teams">
            <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
            <option value="Mumbai Indians">Mumbai Indians</option>
            <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
            <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
            <option value="Kings XI Punjab">Kings XI Punjab</option>
            <option value="Chennai Super Kings">Chennai Super Kings</option>
            <option value="Rajasthan Royals">Rajasthan Royals</option>
            <option value="Delhi Capitals">Delhi Capitals</option>
        </select>
        <label for ="city">City : </label>
        <select name = "City" id = "City">
            <option value ="Hyderabad">Hyderabad</option>
            <option value ="Bangalore">Bangalore</option>
            <option value ="Mumbai">Mumbai</option>
            <option value ="Indore">Indore</option>
        </select>
        <label for = "balls_left" > Balls_left :</label>
        <input type="number" name='balls_left :' class = "balls_left" id="balls_left">

        <input type="Submit" value="Submit">
    </form>



</body>
</html>